.cart-footer {
  background-color: #eaeff2;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  padding: 19px 0;
  display: grid;
  grid-template-columns: 5fr 3fr 4fr;
  column-gap: 30px;

  /* @media screen and (max-width: $mobile) {
     grid-template-columns: repeat(2, 1fr);
   } */
}
.cart-footer__count {
  grid-column-start: 2;

  /* @media screen and (max-width: $mobile) {
     grid-column-start: 1;
     justify-self: center;
   } */
}

@media screen and (max-width: 600px) {
  .cart-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-footer__count {
    grid-column-start: 1;
    justify-self: center;
  }
  .cart-footer__price {
    justify-self: center;
  }
}
